<div class="page-header">
  <h3>Board #<%= @board.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @board.title %></dd>

      <dt>User</dt>
      <dd><%= @board.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/boards" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @board.user %>
        <a href="/boards/<%= @board.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_board/<%= @board.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Board has many lists -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Lists
      </li>

      <% @board.lists.each do |list| %>
        <li class="list-group-item">
          <a href="/lists/<%= list.id %>">
            <%= list.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/lists/<%= list.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/lists/<%= list.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_list/<%= list.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
