<div class="page-header">
  <h3>Board #<%= @board.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @board.title %></dd>

      <dt>User</dt>
      <dd>
        <% if @board.user.present? %>
          <a href="/users/<%= @board.user_id %>">
            <%= @board.user.username %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/boards" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @board.user %>
        <a href="/boards/<%= @board.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_board/<%= @board.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Board has many lists -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Lists
      </li>

      <% @board.lists.each do |list| %>
        <li class="list-group-item">
          <a href="/lists/<%= list.id %>">
            <%= list.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/lists/<%= list.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/lists/<%= list.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_list/<%= list.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_list" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for board_id -->
      <input type="hidden" name="board_id" value="<%= @board.id %>">

      <button class="btn btn-block btn-success">
        Create List
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
