<!-- Validation failure messages -->
<% if @card.errors.any? %>
  <% @card.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Card #<%= @card.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_card/<%= @card.id %>" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @card.title %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @card.description %></textarea>
      </div>

      <!-- Label and input for list_id -->
      <div class="form-group">
        <label for="list_id" class="control-label">
          List
        </label>

        <%= select_tag(:list_id, options_from_collection_for_select(List.all, :id, :title, @card.list_id), :class => "form-control") %>
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <%= cl_image_tag(@card.image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
        <input type="file" id="image" name="image" class="form-control">
      </div>

      <button class="btn btn-warning">
        Update Card
      </button>
      or
      <a href="/cards/<%= @card.id %>">Cancel</a>
    </form>
  </div>
</div>
